body {
  text-align: center;
  font-family: sans-serif;
  font-size: 32px;
}

.cats {
  display: inline-flex;
  width: 960px;
  height: auto;
  align-items: center;
}

.cat-img {
  max-height: 500px;
  max-width: 500px;
  width: auto;

}

ul {
  text-align: right;
  list-style-type: none;
  margin-right: 32px;
}

form {
  display: grid;
  text-align: left;
}

button {
  display: block;
  max-width: fit-content;
}
